{% extends '::base.html.twig' %}

{% block title %} | About{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1>About</h1>
        <div class="item-content">
            Technooooooo :D
        </div>
    </div>
{% endblock %}