{% extends 'MusicBundle:Music:base.html.twig' %}

{% block title %} | About{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1>About Buffalo Sessions</h1>
        <div class="item-content">
            <p>
                Buffalo Sessions is a Manchester based music cartel.<br />
                Occupying a dingy basement in Withington, there are are 3 predomenant aspects of the company.
            </p>
        </div>
    </div>

    <div class="row" style="width: 75%; margin: 0 auto;">
        <div class="col-md-6 item-container">
            <div class="item item-no-background" style="background: rgba(0, 0, 0, 0.8);">
                <strong style="font-size: 1.1em;">Record Label</strong>
                <p>
                    Buffalo Sessions is an amateur record label, focused on the darker side of electronic music, currently with a small selection of producers releasing tunes.<br />
                    Digital tracks can be purchased via the website, and we plan on eventually pressing records, which can also be purchased through the website.<br />
                    If you're interested in releasing or producing music with us, send an email over to <a href="mailto:label@buffalo-sessions.com">label@buffalo-sessions.com</a>.
                </p>
            </div>
        </div>

        <div class="col-md-6 item-container">
            <div class="item item-no-background" style="background: rgba(0, 0, 0, 0.8);">
                <strong style="font-size: 1.1em;">Music Events</strong>
                <p>
                    Buffalo Sessions hosts exclusive music events featuring amateur local DJs. All performances are recorded and are available to watch on the website.<br />
                    To get in touch about performing at one of our events, send an email to <a href="mailto:sessions@buffalo-sessions.com">sessions@buffalo-sessions.com</a>.
                </p>
            </div>
        </div>

        <div class="col-md-12 item-container">
            <div class="item item-no-background" style="background: rgba(0, 0, 0, 0.8);">
                <strong style="font-size: 1.1em;">Studio Space</strong>
                <p>
                    Whilst not being used for music events, the basement is perfect studio space.<br />
                    It's noise-proofed and underground, so making noise is not a problem. If you are interested in renting the basement out for band practice or parties etc. then send an email to <a href="mailto:studio@buffalo-sessions.com">studio@buffalo-sessions.com</a> for modest price quotes.<br />
                    We also have various equipment that can be lent out, such as PA speakers, monitors, DJ equipment, amps, guitars and a drum kit, as well as storage space for your own equipment.
                </p>
            </div>
        </div>
    </div>
{% endblock %}