{% extends '::base.html.twig' %}

{% block title %} | Order Complete{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        Your order has been received.
    </div>
{% endblock %}