{% extends "MusicBundle:Music:base.html.twig" %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <div class="col-xs-10 col-md-6 fos_user_content centered profile-info">
        <ul>
            {% for favourite in favourites %}
                <li>
                    <a href="{{ item_path(favourite) }}">{{ favourite.title }}</a> <a class="js-favourite-delete" style="color: grey;" href="{{ path('music_favourite', {id: favourite.id}) }}">Remove</a>
                </li>
            {% else %}
                <li>You have no favourites.</li>
            {% endfor %}
        </ul>
        <div class="order-pagination">
            {{ knp_pagination_render(favourites) }}
        </div>
    </div>
{% endblock %}
