{% extends "::base.html.twig" %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <div class="col-sm-6 fos_user_content centered profile-info">
        <div class="row">
            <div class="col-xs-4">
                {% include 'FOSUserBundle:Profile:profile_sidebar.html.twig' %}
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <ul>
                        {% for order in orders %}
                            {% if order.status == 'authorized' %}
                                <li><a href="{{ path('music_download', {id: order.releaseVariant.mediaItem.id}) }}">{{ order.releaseVariant.mediaItem.title }}</a></li>
                            {% else %}
                                <li>{{ order.releaseVariant.mediaItem.title }} ({{ order.status == 'new' ? 'unpaid' : 'payment ' ~ order.status }})</li>
                            {% endif %}
                        {% else %}
                            <li>You have no orders to show.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
