{% trans_default_domain 'FOSUserBundle' %}

<ul>
    <li><a href="{{ path('fos_user_profile_edit') }}">update info</a></li>
    <li><a href="{{ path('fos_user_change_password') }}">update password</a></li>
</ul>