{% trans_default_domain 'FOSUserBundle' %}

<ul>
    <li>> <a href="{{ path('fos_user_profile_edit') }}">Update info</a></li>
    <li>> <a href="{{ path('fos_user_change_password') }}">Update password</a></li>
    <li>> <a href="{{ path('fos_user_change_password') }}">Update address</a></li>
    <li><br /></li>
    <li>> <a href="{{ path('fos_user_change_password') }}">Orders/downloads</a></li>
</ul>