{% extends "MusicBundle:Music:base.html.twig" %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <div class="col-xs-10 col-md-6 fos_user_content centered profile-info">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock %}
