{% extends '::base.html.twig' %}

{% block title %} | Error{% endblock %}

{%block content %}
    <div class="col-md-9 single-item centered">
        <h1>Oops</h1>
        <div class="item-content">
            An error has occured.
        </div>
    </div>
{% endblock %}