{% block subject %}Account Confirmation{% endblock %}
{% block body_html %}
{% autoescape false %}
Hello {{ user.username }},
<br><br>
To activate your account, please <a href="{{ confirmationUrl }}">click here</a>.
<br><br>
Kind regards,<br>
Regulation XVII
{% endautoescape %}
{% endblock %}
