{% block subject %}Account Confirmation{% endblock %}
{% block body_html %}
{% autoescape false %}
Hello {{ user.username }},
<br><br>
To activate your account, please <a href="{{ confirmationUrl }}">click here</a>.
<br><br>
Smiley audio x
{% endautoescape %}
{% endblock %}
