{% extends "MusicBundle:Music:base.html.twig" %}

{% block title %} | Register{% endblock %}

{% block content %}
<div class="col-sm-6 fos_user_content centered">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock %}
