/** Globals **/
* {
    font-family: monospace;
}
a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
}
.centered {
    margin: 0 auto;
    float: none;
}

/** Site **/
/* Header */
.header {
    background-color: black;
    color: white;
    padding: 10px;
}
.header a {
    color: #EBECE4;
}
.header a:hover {
    color: white;
}
div.header-logo {
    text-align: left;
}
img.header-logo {
    width: 64px;
    height: 32px;
}
.header-title {
    text-align: center;
    font-size: 1.4em;
}
.header-nav {
    text-align: right;
}

/* Nav */
.nav {
    text-align: center;
    margin: 10px;
}
.nav a {
    color: black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}
.nav a:hover, .nav .active {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

/* Body */
body {
    background-image: url('/bundles/music/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.body {
}
.body .item-container {
    margin-bottom: 10px;
}
.body .item {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    height: 300px;
}
.item-no-background {
    background: rgba(0, 0, 0, 0.8);
}
.item-background {
    content: "";
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    padding: 0 0 0 16px;
    margin-right: 16px;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.body .item .title {
    margin-bottom: 5px;
}
.item img {
    float: left;
    max-width: 160px;
    max-height: 160px;
    padding: 10px 10px 0 5px;
}
.item a {
    color: #EBECE4;
}
.item a:hover {
    color: white;
}
.pagination-container {
    padding-left: 50px;
    margin-bottom: 30px;
}
.pagination span a, .pagination span.current {
    background: rgba(0, 0, 0, 0.8);
    padding: 7px;
    margin: 2px;
    text-align: center;
}
.pagination a {
    color: white;
}
.pagination a:hover, .pagination span.current {
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

/* Footer */
.footer {
    background-color: black;
    color: black;
    padding: 5px 20px 10px;
    height: 30px;
    background-color: #f5f5f5;
}

/* Extra */
.fos_user_content {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
}
.fos_user_content input {
    color: black;
}
form {
    margin: 0 auto;
}
label, input {
    display: inline-block;
}
label {
    width: 30%;
    text-align: right;
}
label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}
input + input {
    float: right;
}
form div.submit {
    margin-top: 10px;
}
.profile-info {
    text-align: left;
}
.profile-info ul {
    padding: 0;
}

.single-item {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;
}
.single-item h1 {
    margin-bottom: 10px;
}
.single-item img {
    float:left;
    max-width: 50%;
    max-height: 50%;
    padding: 10px 20px 10px 10px;
}
.single-item .item-content {
    text-align: left;
}
.author {
    float: right;
    font-style: italic;
    font-size: 0.8em;
}