/** Globals **/
* {
    font-family: monospace;
}
a:hover {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
}
.centered {
    margin: 0 auto;
    float: none;
}

/** Site **/
/* Header */
.header {
    background-color: black;
    color: white;
    padding: 10px;
}
.header a {
    color: #EBECE4;
}
.header a:hover {
    color: white;
}
div.header-logo {
    text-align: left;
}
img.header-logo {
    width: 64px;
    height: 32px;
}
.header-title {
    text-align: center;
    font-size: 1.5em;
}
.header-nav {
    text-align: right;
}
nav ul li ul {
    text-align: left;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0 0 10px;
    z-index: 999;
}
nav ul li ul li {
    margin: 0;
    width: 100%;
}
nav ul li ul li a {
    display: inline-block;
    padding: 10px 10px 0;
    color: #444;
    width: 100%;
    color: grey !important;
}
nav ul li ul li:hover a {
    color: white !important;
}
nav ul li ul.fallback {
    display: none;
}
nav ul li:hover ul.fallback {
    display: block;
}
.categories ul {
    text-align: left;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: 8px 0;
    padding: 0 0 10px;
    z-index: 999;
    color: grey;
}
.categories ul li {
    margin: 0;
    width: 100%;
}
.categories ul li:hover a {
    color: white !important;
}
.categories ul.fallback {
    display: none;
}
.categories:hover ul.fallback {
    display: block;
}

/* Nav */
.nav {
    text-align: center;
    margin: 10px;
}
.nav a.nav-link {
    color: black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}
.nav a.nav-link:hover, .nav .active {
    color: white !important;
    background: rgba(0, 0, 0, 0.5) !important;
}
#search-box input:focus {
    outline: 0;
}
#search-box {
    display: none;
    opacity: 0.8;
}
#search-box input {
    float: none;
    margin: 0 auto;
}

/* Body */
body {
    background-image: url('/bundles/music/images/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.body {
}
.body .item-container {
    margin-bottom: 10px;
}
.body .item {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    height: 300px;
}
.item-no-background {
    background: rgba(0, 0, 0, 0.8);
}
.item-background {
    content: "";
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    padding: 0 0 0 16px;
    margin-right: 16px;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.body .item .title {
}
.item img {
    float: left;
    padding: 10px 10px 10px 5px;
    width: 160px;
    height: 160px;
}
.item a {
    color: #EBECE4;
}
.item a:hover {
    color: white;
}
.pagination-container {
    padding-left: 50px;
    margin-bottom: 45px;
}
.pagination span a, .pagination span.current {
    background: rgba(0, 0, 0, 0.8);
    padding: 7px;
    margin: 2px;
    text-align: center;
}
.pagination a {
    color: white;
}
.pagination a:hover, .pagination span.current {
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

/* Footer */
.footer {
    background-color: black;
    color: black;
    padding: 5px 20px 10px;
    min-height: 30px;
    background-color: #f5f5f5;
}
.contact {
    text-align: right;
}

/* Extra */
.fos_user_content {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
}
.fos_user_content input {
    color: black;
}
form {
    margin: 0 auto;
}
label, input {
    display: inline-block;
}
label {
    width: 30%;
    text-align: right;
}
label + input {
    width: 30%;
    margin-right: 30%;
}
input + input {
    float: right;
}
form div.submit {
    margin-top: 10px;
}
.profile-info ul {
    text-align: left;
}

.single-item {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;
}
.single-item h1 {
    margin-bottom: 10px;
}
.single-item .image {
    float: left;
    /*max-width: 50%;
    max-height: 50%;*/
    width: 384px;
    height: 288px;
    padding: 10px 20px 10px 20px;
}
.single-item .item-content {
    text-align: left;
}
.variants {
    margin-top: 50px;
}
.author-info, .category-info {
    font-style: italic;
    font-size: 0.8em;
}
.category-info {
    text-align: left;
}
.author-info {
    text-align: right;
}
.order-pagination {
}

/* Audio JS fix */
.play-pause {
    width: 40px !important;
}