{% extends "MusicBundle:Music:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} | Reset Password{% endblock %}

{% block content %}
    <div class="col-sm-6 fos_user_content centered">
        <p>
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
    </div>
{% endblock %}
