{% extends "MusicBundle:Music:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} | Reset Password{% endblock %}

{% block content %}
    <div class="col-sm-6 fos_user_content centered">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock %}
