{% extends "MusicBundle:Music:base.html.twig" %}

{% block title %} | Reset Password{% endblock %}

{% block content %}
    <div class="col-sm-6 fos_user_content centered">
        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div>
{% endblock %}
